.flint-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flint-project-title {
  color: var(--dark);
  font-size: 40px;
  text-align: center;
}

.f-m-img {
  /* width: 800px; */
  width: 50%;
  padding-left: 20px;
}

.flint-project-img-wrapper {
  padding: 60px 10px;
  min-width: 100vw;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flint-highlights-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.flint-project-title-2 {
  font-size: 40px;
  color: var(--dark);
}

.fph-b-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fph-b-l1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 20px 10%; */
  min-width: 80%;
}

.fph-b-l1-p1,
.fph-b-l1-p2 {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  margin: 30px 0px;
  height: 500px;
}

.fph-b-l1-p1 {
  margin-right: 20px;
  /* background-color: #f73558; */
}

.fph-b-l1-title-wrapper {
  font-size: 24px;
  font-weight: 800;
  /* text-align: center; */
}
.fph-b-l1-title-wrapper h1 {
  color: #f73558;
}

.fph-b-l1-p2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 20px;
}

.fph-b-l1-img-flint-msg {
  width: 90%;
  border-radius: 20px;
}

.fph-b-l2 {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  width: 95%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(227, 226, 226);
  color: white !important;
  padding-bottom: 0px !important;
}

.fph-b-l2-img-consistent {
  width: 80%;
  margin-top: 30px;
  max-width: 800px;
}

.title-dash {
  color: var(--dark);
}

.fph-b-l3-img-tab {
  width: 80vw;
  max-width: 800px;
  margin-top: 40px;
}

.laptop-flint-img {
  width: 80vw;
  max-width: 800px;
  margin-top: 40px;
}

.fph-b-l1-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 20px;
}

.fph-b-l1-button {
  transition: all 0.5s;
}

.fph-b-l1-button:hover {
  transform: scale(1.2, 1.2);
}

.special {
  max-width: 600px;
}

.mb{
  margin-bottom: 80px;
}