.navbar-link {
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.navbar-logo {
  font-size: 30px;
  color: #1d2f79;
  transition: all 0.9s;
}

.nav-item {
  font-size: 18px;
  transition: all 0.5s;
  color: black;
}

.navbar-wrapper {
  max-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  position: Sticky;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.826);
  box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.271);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.navbar-button {
  padding: 5px;
  width: 100px;
  outline: none;
  border: none;
  background-color: rgb(226, 226, 226);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

@media (max-width: 430px) {
  .navbar-button {
    display: none;
  }
}
