.navbar-link {
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.navbar-logo {
  font-size: 30px;
  color: #1d2f79;
}

.nav-item {
  font-size: 18px;
  transition: all 0.5s;
  color: black;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
}

.navbar-button {
  padding: 5px;
  width: 100px;
  outline: none;
  border: none;
  background-color: rgb(226, 226, 226);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}
