@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600;700&family=Permanent+Marker&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100&display=swap");

* {
  padding: 0;
  margin: 0;
  box-shadow: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  --main: #47b5ff;
  --main-dark: #1d2f79;
  --dark: #00397c;
  --accent: rgb(193, 222, 222);
}

.contact-card {
  margin-top: 10px;
  margin-right: 100px;
  color: black;
}

.gmail {
  margin-top: 15px;
}

.contact-card:hover {
  filter: drop-shadow(0px 1px 16px rgb(17, 149, 182, 0.8));
}

/* .cpc-img {
  min-width: 100px;
  max-height: 100px;
} */

.cpc-title {
  font-weight: 600;
}

.highlight-dark {
  color: var(--dark);
}

.cpc-wrapper {
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: none;
  color: black;
  padding: 20px 0px;
}

.cpc-wrapper:hover {
  transform: scale(1.04, 1.04);
}

.btn {
  margin: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: var(--main);
  color: white;
  transition: all 0.5s ease;
}

.btn:hover {
  transform: scale(1.04, 1.04);
  background-color: var(--main-dark);
  filter: drop-shadow(0px 0px 8px #47b5ff);
}

.link {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 430px) {
  .cpc-img {
    width: 40px;
  }

  .cpc-title {
    font-size: 15px;
    font-weight: 500;
  }

  .cpc-tag {
    font-size: 18px;
  }
}
